.aboutIt {
    max-width: 875px;
    margin: 0 auto;
    margin-top: 70px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 871px) {
    .aboutIt {
        justify-content: center;
    }
    .aboutIt > img {
        width: 320px;
    }
}
.aboutIt__descr {
    padding-top: 25px;
}
.aboutIt__descr-item {
    margin-top: 25px;
    max-width: 420px;
}
@media (max-width: 450px) {
    .aboutIt__descr-item {
        max-width: 320px
    }
}
@media (max-width: 345px) {
    .aboutIt__descr-item {
        max-width: 300px
    }
}
.aboutIt__descr-item p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
