.filter__carts {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    gap: 35px;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.filter__carts p{
    font-weight: 400;
    font-size: 14px;
}
.filter__carts-btns {
    display: flex;
    gap: 5px;
}
.filter__carts-btn {
    width: 75px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px 0px 0px 4px;
    line-height: 30px;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}
.filter__carts-btn:hover {
    color: rgba(0, 0, 0, 0.63);
}